{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        <i class="bi bi-clipboard-plus"></i> {{ title }}
                        {% if patient %}
                            - {{ patient.full_name }}
                        {% endif %}
                    </h4>
                </div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        {% if patient %}
                            <div class="alert alert-info">
                                <strong>Patient:</strong> {{ patient.full_name }}<br>
                                <strong>Phone:</strong> {{ patient.phone }}<br>
                                <strong>Age:</strong> {{ patient.age }} years
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.patient|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.priority|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.primary_diagnosis|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.secondary_diagnosis|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.treatment_plan|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.preferred_room_type|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.preferred_floor|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.special_requirements|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.notes|as_crispy_field }}
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-save"></i> Submit Request
                            </button>
                            <a href="{% url 'admission_request_list' %}" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 